# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled outputs
dist/
build/
dist-ssr/
*.local

# Environment variables
.env
.env.production
.env.development

# Databases & local logs
*.db
*.db-journal
*.log
.system_generated/

# Editor/OS configurations
.vscode/
.idea/
.DS_Store
Thumbs.db
